.about_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .banner_about {
        width: 90%;
        height: 223px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 25px;
            filter: brightness(0.5);
        }
    }

    .about_content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        position: relative;
        padding: 10px;
        .about_section {
            padding: 15px;
            .about_title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 15px 5px 10px;
                height: 50px;
                border-radius: 10px 10px 5px 5px;
                background: var(--Red, #ff6060);
                h2 {
                    color: #ffff;
                }
                .fa-chevron-up {
                    color: #ffff;
                    font-size: 30px;
                    cursor: pointer;
                    transition: transform 0.3s ease;
                }
                .fa-chevron-up.rotate {
                    transform: rotate(-180deg);
                }
            }
            .collapse_content {
                overflow: hidden;
                position: relative;
                height: 0;
                transition: all 0.4s;
                background: #f6f6f673;
                p {
                    margin: 8px;
                }
            }
            .collapse_content.show {
                height: 114px;
            }
        }
    }
}
