.annonce_content {
    padding: 0px 50px 140px;
    @media (max-width: 940px) {
        padding: 20px 0px;
    }
    .info_host {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        @media (max-width: 940px) {
            flex-direction: column;
            padding: 0;
        }
        .host_title_detail {
            width: 50%;
            @media (max-width: 940px) {
                width: 100%;
            }
            h1 {
                font-size: 36px;
                font-weight: 500;
                color: #ff6060;
                line-height: 142.6%;
                @media (max-width: 940px) {
                    font-size: 18px;
                }
            }
            h2 {
                font-size: 18px;
                font-weight: 500;
                @media (max-width: 940px) {
                    font-size: 14px;
                }
            }
            .content_tag {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                .tags {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    background-color: #ff6060;
                    border-radius: 25px;
                    height: 25px;
                    width: 150px;
                    @media (max-width: 940px) {
                        width: 85px;
                    }
                    p {
                        color: #ffff;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 700;
                        @media (max-width: 940px) {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        .host_rating_img {
            padding: 15px;
            @media (max-width: 940px) {
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                align-items: center;
                padding: 15px 0px;
            }
            .host_img_name {
                display: flex;
                align-items: center;
                gap: 20px;
                p {
                    color: #ff6060;
                    font-size: 22px;
                    text-align: right;
                    width: 90px;
                    font-weight: 500;
                }
                img {
                    border-radius: 66px;
                    @media (max-width: 940px) {
                        width: 75px;
                    }
                }
            }
            .rating_star {
                display: flex;
                justify-content: end;
                padding: 20px;
                font-size: 25px;
                @media (max-width: 940px) {
                    font-size: 20px;
                    padding: 0;
                }
                .fa-solid {
                    color: #ff6060;
                }
                .fa-regular {
                    color: #e3e3e3;
                }
            }
        }
    }
}
