.pictures {
    position: relative;
    img {
        width: 700px;
        height: 500px;
        object-fit: cover;
        border-radius: 25px;
    }
    .arrow_left {
        position: absolute;
        height: 200px;
        width: 130px;
        left: 12px;
        top: 100px;
    }
    .arrow_right {
        position: absolute;
        height: 200px;
        width: 130px;
        right: 230px;
        top: 100px;
    }
}
