.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    img {
        min-width: 50px;
    }
    nav {
        display: flex;
        align-items: center;
        text-align: center;
        ul {
            display: flex;
            a {
                color: black;
                &.underline {
                    text-decoration: underline;
                }
            }
            li {
                font-weight: 500;
                margin: 0 10px;
                list-style: none;
            }
        }
    }
}
