.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    @media (max-width: 940px) {
        gap: 20px;
    }
    .banner {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 20px;
        width: 95%;
        border-radius: 0.8rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        img {
            border-radius: 0.8rem;
            filter: brightness(60%);
            height: 180px;
            object-fit: cover;
            position: relative;
            width: 100%;
            @media (max-width: 940px) {
                height: 138px;
            }
        }
        h1 {
            color: #fff;
            font-size: 28px;
            position: absolute;
            text-align: left;
            margin: inherit;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    .concent_gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f6f6f6;
        border-radius: 25px;
        width: 1150px;
        max-width: 80%;
        padding: 56px 3% 43px;
        margin: 50px;
        @media (max-width: 375px) {
            background: none;
            padding: 0px 0px 43px;
            margin: 0;
        }
        .gallery {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 50px;
        }
    }
}
